@mixin clearfix() {

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin container($tablet: 768px, $desktop: 1200px) {
    width: 100%;
    max-width: $tablet;
    margin: 0 auto;

    @media (#{$desktop-width}) {
        max-width: $desktop;
    }
}
