/* Paths
=====================*/
$i: "../img/";
$fonts: "../fonts/";



/* Colors
=====================*/
$blue: #81b3d2;
$white: #fff;
$grey: #eee;
$light_grey: #f2f2f2;
$black: #000;
$error: #ff5c5c;



/* Fonts
=====================*/
$main-font: "ptsans", sans-serif;



/* Font-sizes
=====================*/
$regular: 14px;
$mob-nav: 18px;
$section-header-title: 18px;
$reasons-title: 18px;
$benefits-title: 18px;
$cta-title: 21px;
$btn: 21px;
$hash: 21px;
