.btn {
    display: inline-block;
    width: 100%;
    padding: 16px;

    font-weight: bold;
    font-size: $btn;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    border: 0;

    &:focus {
        outline: 0;
    }

    &--blue {
        color: $white;

        background-color: $blue;
    }

    &--replay {
        width: 16px;
        height: 20px;
        padding: 0;

        background: url("#{$i}icon-video-replay.svg") no-repeat;
    }

    &--subtitles {
        float: right;
        width: 32px;
        height: 20px;
        padding: 0;

        background: url("#{$i}icon-video-subtitles.svg") no-repeat;
    }

    &--fullscreen {
        float: right;
        width: 20px;
        height: 20px;
        padding: 0;
        margin-left: 30px;

        background: url("#{$i}icon-video-fullscreen.svg") no-repeat;
    }

}
