.page-header__inner {
    width: 320px;
    margin: 0 auto;

    background-color: $white;

    position: relative;
}

.page-header__lala {
    height: 56px;
}

.page-header__logo {
    display: block;

    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;

    transform: translateX(-50%);
}
