.page-footer__inner {
    width: 320px;
    margin: 0 auto;
    padding: 35px 20px 20px;
}

.hash-tag {
    margin-bottom: 35px;

    font-family: $bold-font;
    font-size: $hash;
    text-align: center;
    text-transform: uppercase;
}
