.reasons {
    position: relative;

    &--white {
        background-color: $white;
        color: $black;
    }

    &--blue {
        background-color: $blue;
        color: $white;
    }

    &--grey {
        background-color: $grey;
    }
}

.reasons__inner {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

.reasons__header {
    margin: 0 auto;
    padding: 40px 0;

    &--border {
        border-bottom: 1px solid #d6d6d6;
    }

    &--small {
        padding: 25px 0;
    }
}

.reasons__title {
    margin-bottom: 10px;

    font-size: $reasons-title;
    text-align: center;
    text-transform: uppercase;
}

.reasons__num {
    margin-bottom: 15px;

    text-align: center;
}

.reasons__text {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
}

.reasons__photo {
    height: 260px;
    position: relative;

    img {
        display: block;
        width: auto;
        margin: 0 auto;

        position: absolute;
        left: 50%;
        top: 0;
        z-index: 1;

        transform: translateX(-50%);
    }
}
