.section-header {
    padding: 40px 0;
    text-align: center;
}

.section-header__title {
    margin-bottom: 30px;

    font-family: $bold-font;
    font-size: $section-header-title;
    text-transform: uppercase;
    line-height: 1.4;
}

.section-header__text {
    text-transform: uppercase;
    color: $black;
    line-height: 1.8;
}
