/* Normalize
=========================*/

@import "vendor/_normalize";



/* Variables, mixins & fonts
=========================*/

@import "_variables";
@import "_mixins";
@import "_fonts";



body {
    font-family: $main-font;
    font-size: $regular;
    background-color: $white;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

fieldset {
    border: 0;
}



/* Import Block
=========================*/

@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/nav-burger";
@import "blocks/intro";
@import "blocks/reasons";
@import "blocks/section-header";
@import "blocks/benefits";
@import "blocks/benefits-list";
@import "blocks/cta";
@import "blocks/btn";
@import "blocks/map";
@import "blocks/page-footer";
@import "blocks/footer-social";
@import "blocks/developers";
@import "blocks/form";
@import "blocks/photos";
@import "blocks/video";
