/* Bootstrap Mixins & normalize
=========================*/

@import "_mixins";
@import "_normalize";



/* Variables, helpers & fonts
=========================*/

@import "_variables";
@import "_helpers";
@import "_fonts";


*,
*:before,
*:after {
    @include box-sizing(border-box);
}

body {
    font-family: $main-font;
    font-size: $regular;
    background-color: $white;

    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}



/* Import Block
=========================*/

@import "page-header";
@import "main-nav";
@import "intro";
@import "reasons";
@import "section-header";
@import "benefits";
@import "cta";
@import "btn";
@import "map";
@import "page-footer";
@import "footer-social";
@import "developers";
