<footer class="page-footer">
    <div class="page-footer__inner">

        <div class="page-footer__third">
            <p class="hash-tag">#visitsedona</p>
        </div>

        <div class="page-footer__third">
            <div class="footer-social">
                <a href="#" class="footer-social__item footer-social__item--tw">Twitter</a>
                <a href="#" class="footer-social__item footer-social__item--fb">Facebook</a>
                <a href="#" class="footer-social__item footer-social__item--yt">Youtube</a>
            </div>
        </div>

        <div class="page-footer__third">
            <p class="developers">
                <span class="developers__text">Разработано</span>
                <img src="img/logo-htmlacademy.svg" class="developers__logo" width="27" height="34" alt="HTML Academy">
            </p>
        </div>

    </div><!-- /.page-footer__inner -->
</footer><!-- /.page-footer -->
