<footer class="page-footer">
    <div class="page-footer__inner">

        <div class="page-footer__third">
            <p class="page-footer__hash-tag">#visitsedona</p>
        </div>

        <div class="page-footer__third">
            <div class="footer-social">
                <a class="footer-social__item  footer-social__item--tw" href="#">Twitter</a>
                <a class="footer-social__item  footer-social__item--fb" href="#">Facebook</a>
                <a class="footer-social__item  footer-social__item--yt" href="#">Youtube</a>
            </div>
        </div>

        <div class="page-footer__third">
            <p class="developers">
                Разработано
                <a href="https://htmlacademy.ru/">
                    //= htmlacademy-svg.html
                </a>
            </p>
        </div>

    </div><!-- /.page-footer__inner -->
</footer><!-- /.page-footer -->
