<header class="page-header">

    <div class="page-header__inner">

        <!-- Main Navigation -->
        <nav class="main-nav  collapse">
            <a href="#" class="main-nav__item">Главная</a>
            <a href="#" class="main-nav__item">Фото и видео</a>
            <a href="#" class="main-nav__item">Форма отзыва</a>
            <a href="#" class="main-nav__item">HTML academy</a>
        </nav>

        <div class="page-header__lala">
            <a href="#" class="logo"><img src="img/logo-sedona-mobile.svg" width="102" height="83" alt="City of Sedona"></a>
            <a href="#" class="nav-burger"><span class="nav-burger__item"></span></a>
        </div>

    </div>

</header>
