<header class="page-header">

    <div class="page-header__inner">

        <!-- Main Navigation -->
        <nav class="main-nav  collapse">
            <a href="#" class="main-nav__item">Главная</a>
            <a href="#" class="main-nav__item">Фото и видео</a>
            <a href="#" class="main-nav__item">Форма отзыва</a>
            <a href="#" class="main-nav__item">HTML academy</a>
            <a href="#" class="main-nav__close">Закрыть</a>
        </nav>

        <div class="logo"><img src="http://placehold.it/105x85" width="105" height="85" alt="City of Sedona"></div>
        <a href="#" class="nav-burger"><span></span></a>

    </div>

</header>
