<header class="page-header">

    <div class="page-header__inner">

        <!-- Main Navigation -->
        <nav class="main-nav">
            <a class="main-nav__item  main-nav__item--active" href="index.html">Главная</a>
            <a class="main-nav__item" href="photo.html">Фото и видео</a>
            <a class="main-nav__item" href="form.html">Форма отзыва</a>
            <a class="main-nav__item" href="https://htmlacademy.ru/">HTML academy</a>
        </nav>

        <a class="page-header__logo" href="#"><img src="img/logo-sedona-mobile.svg" width="102" height="83" alt="City of Sedona"></a>
        <a class="nav-burger" href="#"><span class="nav-burger__item">Меню</span></a>

    </div>

</header>
