.benefits__inner {
    @include container-fluid();
    padding: 25px 20px;

    box-sizing: border-box;
}


@media (#{$tablet-width}) {

    .benefits__inner {
        padding: 52px 10px 61px;
    }

}

@media (#{$desktop-width}) {

    .benefits__inner {
        padding-bottom: 80px;
    }

}
