.cta__inner {
    width: 320px;
    margin: 0 auto;
    padding: 25px 20px 50px;
}

.cta__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: $cta-title;
    color: $black;
    text-align: center;
    text-transform: uppercase;
}

.cta__text {
    margin-bottom: 35px;

    line-height: 1.8;
    color: $black;
    text-align: center;
    text-transform: uppercase;
}
