.developers {
    color: $black;
    text-align: center;
    text-transform: uppercase;
}

.developers__logo {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}



@media (#{$tablet-width}) {

    .developers {
        line-height: 48px;
    }
}
