.developers {
    color: $black;
    text-align: center;
    text-transform: uppercase;
}

.developers__logo {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.developers__logo {
    fill: $black;

    transition: fill 0.1s linear;

    &:hover {
        fill: $blue;
    }

    &:active {
        fill: $htmlacademy-logo-active;
    }
}



@media (#{$tablet-width}) {

    .developers {
        text-align: right;
    }
}

@media (#{$desktop-width}) {

    .developers {
        padding-right: 45px;
    }
}
