.footer-social {
    margin-bottom: 40px;

    text-align: center;
    font-size: 0;
    color: transparent;
}

.footer-social__item {
    display: inline-block;
    vertical-align: middle;
    width: 46px;
    height: 48px;
    margin: 0 3px;

    background-color: $blue;

    transition: background-color 0.1s linear;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        transition: opacity .1s linear;
    }

    &--tw {

        &:after {
            background: url("#{$i}icon-twitter.svg") center no-repeat;
        }
    }

    &--fb {

        &:after {
            background: url("#{$i}icon-facebook.svg") center no-repeat;
        }
    }

    &--yt {

        &:after {
            background: url("#{$i}icon-youtube.svg") center no-repeat;
        }
    }

    &:hover {
        background-color: $blue-hover;
    }

    &:active {
        background-color: $blue-active;

        &:after {
            opacity: 0.3;
        }
    }
}


@media (#{$tablet-width}) {

    .footer-social {
        margin-bottom: 0;
    }

}
