.form__inner {
    @include container(650px);
}

.form__fieldset {
    margin: 0;
    padding: 20px;
    border-top: 1px solid #e5e5e5;

    box-sizing: border-box;
}

.form__fieldset-title {
    display: block;
    width: 100%;

    font-size: $fieldset-title;
    font-weight: bold;
    color: $black;
    text-transform: uppercase;
    text-align: center;
}

.form__group {
    margin-top: 20px;

    position: relative;

    @include clearfix;

    &--big   { margin-top: 50px; }
    &--small { margin-top: 12px; }
}

.form__label {
    display: block;
    margin: 0 0 10px 20px;

    color: #333;
    text-transform: uppercase;

    &--inline {
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px 0 0;
    }

    &--radio,
    &--checkbox {
        margin: 0;

        font-size: 18px;
        font-weight: bold;
        text-transform: none;
    }
}

.form__input,
.form__textarea {
    display: block;
    width: 100%;
    height: 58px;
    padding: 10px 22px;

    border: 4px solid $light_grey;
    background-color: $light_grey;

    color: $black;
    font-size: 18px;
    font-weight: bold;

    box-sizing: border-box;
    transition: background-color 0.1s linear, border-color 0.1s linear;

    &:hover:not(:focus) {
        background-color: $input-hover;
        border-color: $input-hover;
    }

    &:focus {
        background-color: $white;
        border-color: $input-hover;
        outline: 0;
    }

    &::placeholder {
       color: $black;
    }

    &--icon {
        padding-right: 70px;
    }

    &--inline {
        width: auto;
        display: inline-block;
        vertical-align: middle;
    }
}

.form__textarea {
    height: 160px;
    padding-top: 20px;
    padding-bottom: 20px;

    resize: none;
}

.form__input-wrapper {
    position: relative;

    &:before,
    &:after {
        content: "";
        display: block;
        width: 58px;
        height: 100%;

        position: absolute;
        top: 0;
        right: 0;
    }

    &:before {
        background-color: #e6e6e6;
        z-index: 1;
    }

    &:after {
        z-index: 2;
    }

    &--tel:after {
        background: url("#{$i}icon-phone.svg") center no-repeat;
    }

    &--email:after {
        background: url("#{$i}icon-mail.svg") center no-repeat;
    }
}




/* Radio + Checkbox
======================*/

.form__radio-label,
.form__checkbox-label {
    display: block;

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

    position: relative;

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 56px;
        height: 56px;
        margin-right: 20px;

        background-color: $light_grey;
        transition: background-color 0.1s linear;
    }

    &:after {
        content: "";
        display: block;

        opacity: 0;

        position: absolute;
        top: 50%;
        left: 17px;
        z-index: 1;

        transform: translateY(-50%);
        transition: opacity 0.1s linear;
    }

    &:hover:before {
        background-color: $input-hover;
    }

    &:active:before {
        background-color: $input-active;
    }
}

.form__radio-label {

    &:before {
        border-radius: 50%;
    }

    &:after {
        width: 22px;
        height: 22px;

        background-color: #333;
        border-radius: 50%;
    }
}

.form__checkbox-label {

    &:before {
        border-radius: 5px;
    }

    &:after {
        width: 24px;
        height: 16px;

        background: url("#{$i}icon-tick.svg") no-repeat;
    }

}

.form__radio,
.form__checkbox {
    display: none;

    &:checked + &-label:after {
        opacity: 1;
    }

    &:checked + &-label:active:after {
        opacity: 0.3;
    }
}



/* Form Messages & Tip
======================*/

.form__error {
    margin: 10px 0 0 20px;

    color: $error;
}

.form__tip {
    display: none;
}



@media (#{$tablet-width}) {

    .form__fieldset {
        border-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .form__fieldset-title {
        text-align: left;

        &--centered {
            width: 400px;
            margin: 0 auto;
            padding: 0 60px;

            font-size: $fieldset-title-tablet;
            text-align: center;

            background-color: $white;
            position: relative;
            z-index: 2;

            box-sizing: border-box;
        }
    }

    .form__fieldset-header {
        position: relative;

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;

            background-color: #dbdbdb;

            position: absolute;
            top: 50%;
            left: 0;
            z-index: 1;
        }
    }

    .form__group {
        margin-top: 25px;

        &--half {
            float: left;
            width: 50%;
            margin-top: 30px;
        }
    }

    .form__checkbox-wrapper {
        width: 470px;
        margin: 20px auto;

        @include clearfix;
    }

    .form__error {
        margin: 0;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .form__tip {
        display: block;

        color: $light_black;
        text-transform: uppercase;
        text-align: right;
        line-height: 58px;
    }

}











