.map {
    @include container-fluid;
    height: 350px;

    background: #e6edcc url("#{$i}bg-map-mobile@1x.jpg") center no-repeat;

    position: relative;
}

.map__pin {
    width: 27px;
    height: 27px;

    font-size: 0;
    color: transparent;

    background: url("#{$i}icon-map-marker.svg") no-repeat;

    position: absolute;
    top: 160px;
    left: 49%;
    z-index: 1;
}


@media (#{$mobile-width}) {

    .map {
        background-image: url("#{$i}bg-map-tablet@1x.jpg");
    }
}


@media (#{$tablet-width}) {

    .map {
        background-image: url("#{$i}bg-map-desktop@1x.jpg");
    }
}
