.nav-burger {
    display: block;
    width: 23px;
    height: 23px;

    cursor: pointer;
    color: transparent;
    font-size: 0;

    background: url("#{$i}icon-menu.svg") no-repeat;

    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 1;
}

.nav-burger__checkbox {
    display: none;

    &:checked {

        + .nav-burger {
            background-image: url("#{$i}icon-cross.svg");
        }

        ~ .main-nav {
            display: block;
        }
    }
}


@media (#{$tablet-width}) {

    .nav-burger {
        display: none;
    }

    .nav-burger__checkbox {

        &:checked {

            ~ .main-nav {
                display: flex;
            }
        }
    }

}
