.page-header__inner {
    @include container;
    padding-bottom: 56px;

    background-color: $white;

    position: relative;
}

.page-header__logo {
    display: block;
    margin: auto;

    position: absolute;
    bottom: -32px;
    left: 50%;
    z-index: 1;

    transform: translateX(-50%);
}


@media (#{$tablet-width}) {

    .page-header__inner {
        padding-bottom: 0;
    }

    .page-header__logo {
        bottom: auto;
        top: 0;
    }

}
