.page-header__inner {
    @include container-fluid;
    padding-bottom: 56px;

    background-color: $white;

    position: relative;
}

.page-header__logo {
    display: block;
    margin: auto;

    position: absolute;
    bottom: -31px;
    left: 50%;
    z-index: 1;

    transform: translateX(-50%);

    img {
        width: 102px;
        height: 83px;
    }
}


@media (#{$tablet-width}) {

    .page-header__inner {
        padding-bottom: 0;
    }

    .page-header__logo {
        bottom: auto;
        top: 0;
    }

}


@media (#{$desktop-width}) {

    .page-header__logo {

        img {
            width: 188px;
            height: 96px;
        }
    }

}
