.photos__inner {
    @include container;
}

.photos__item {
    padding: 20px;
    border-top: 1px solid #e5e5e5;
}

.photos__info {
    margin-top: 20px;
}

.photos__name {
    margin-bottom: 5px;

    font-weight: bold;
    color: $black;
    text-transform: uppercase;
}

.photos__author {
    margin-bottom: 10px;

    color: #333;
}

.photos__likes {
    display: inline-block;
    vertical-align: bottom;
    padding: 3px 0 0 37px;

    background: url("#{$i}icon-like.svg") no-repeat;
    background-size: 21px auto;

    font-weight: bold;
    color: $black;
}
