.reasons {
    position: relative;

    &--white {
        background-color: $white;
        color: $black;
    }

    &--blue {
        background-color: $blue;
        color: $white;
    }

    &--grey {
        background-color: $grey;
        color: $black;
    }

    &--triangle {
        margin-top: 20px;
        position: relative;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 27px;

            background: url("#{$i}bg-intro-triangle-tablet-blue.svg") center no-repeat;
            background-size: cover;

            position: absolute;
            top: -27px;
            left: 0;
            z-index: 1;
        }
    }
}

.reasons__inner {
    @include container-fluid;
    overflow: hidden;

    box-sizing: border-box;

    &--small {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.reasons__header {
    margin: 0 auto;
    padding: 40px 25px;

    box-sizing: border-box;

    &--border {
        border-bottom: 1px solid #d6d6d6;
    }

    &--small {
        padding: 25px 0;
    }
}

.reasons__title {
    margin-bottom: 12px;

    font-size: $reasons-title;
    text-align: center;
    text-transform: uppercase;
}

.reasons__num {
    margin-bottom: 18px;

    text-align: center;
}

.reasons__text {
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;

    &--black {
        color: $light_black;
    }
}

.reasons__photo {
    height: 260px;
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: auto;
        margin: 0 auto;

        position: absolute;
        left: 50%;
        top: 0;
        z-index: 1;

        transform: translateX(-50%);
    }
}




@media (#{$tablet-width}) {

    .reasons__inner {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .reasons__title {
        font-size: $reasons-title-tablet;
    }

    .reasons__text {
        hyphens: auto;
    }

    .reasons__header {
        flex-basis: 33.33333%;
        padding: 0 45px;

        &--right {
            order: 1;
        }

        &--small {
            padding: 45px 48px;
        }

        &--border {
            border-bottom: 0;
        }
    }

    .reasons__photo {
        flex-basis: 66.66666%;

        img {
            width: 100%;
            position: static;

            transform: translateX(0);
        }
    }

}



@media (#{$mobile-width}) {

    .reasons {

        &:after {
            height: 57px;
            top: -57px;
        }
    }
}


@media (#{$tablet-width}) {

    .reasons {

        &:after {
            display: none;
        }
    }
}


@media (#{$desktop-width}) {

    .reasons__header {
        padding-left: 65px;
        padding-right: 65px;

        &--small {
            padding-left: 65px;
            padding-right: 65px;
            padding-bottom: 65px;
        }
    }

    .reasons__title {
        padding: 0 55px;
    }

}
