.video__inner {
    @include container;

    padding-bottom: 45px;
    border-top: 1px solid #e5e5e5;
}

.video__media {
    display: block;
    width: 100%;
    height: 200px;

    background: #a67e63 url("#{$i}video-mobile@1x.jpg") center no-repeat;
    background-size: auto 100%;

    @media #{$retina} {
        background-image: url("#{$i}video-mobile@2x.jpg");
    }
}

.video__source {
    width: 320px;
    margin: 12px auto 0;

    position: relative;
}

.video__controls {
    width: 100%;
    max-width: 280px;
    margin: -45px auto 0;

    position: relative;
}

.video__controls-volume {
    display: block;
    width: 100%;
    height: 45px;

    background-color: transparentize($black, 0.4);

    position: relative;

    box-sizing: border-box;
}

.video__volume-slider {
    width: 235px;
    height: 3px;
    margin: auto;

    background-color: transparentize($white, 0.8);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video__volume-thumb {
    width: 9px;
    height: 9px;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    border-radius: 50%;
    background-color: $white;

    position: absolute;
    top: -3px;
    left: 15%;
    z-index: 1;
}

.video__controls-buttons {
    width: 100%;
    height: 66px;

    background-color: $light_grey;

    position: relative;
}

.video__button {
    background: none;
    padding: 0;
    border: 0;

    position: absolute;
    top: 23px;
    z-index: 2;

    &--replay {
        left: 25px;
    }

    &--subtitles {
        right: 73px;
    }

    &--fullscreen {
        right: 23px;
    }

    g {
        fill: #5c6870;
        transition: fill 0.1s linear;
    }

    &:hover g {
        fill: #333;
    }

    &:active g {
        fill: #c1c1c1;
    }

    &:focus {
        outline: none;
    }
}



@media (#{$tablet-width}) {

    .video__inner {
        border-top: 0;
    }

    .video__source {
        width: 650px;
        margin-top: 20px;
        position: relative;
    }

    .video__media {
        height: 500px;
        background-image: url("#{$i}video-tablet@1x.jpg");

        @media #{$retina} {
            background-image: url("#{$i}video-tablet@2x.jpg");
        }
    }

    .video__controls {
        width: 100%;
        height: 93px;
        max-width: none;
        margin-top: 0;

        background-color: transparentize($black, 0.4);

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .video__controls-buttons,
    .video__controls-volume {
        background-color: transparent;
    }

    .video__controls-volume {
        width: 390px;
        height: 100%;

        position: absolute;
        top: 0;
        left: 93px;
        z-index: 2;
    }

    .video__volume-slider {
        width: 100%;
    }

    .video__controls-buttons {
        width: 100%;
        height: 100%;
        padding: 0;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .video__button {
        top: 35px;

        &--replay {
            left: 35px;
        }

        &--subtitles {
            right: 92px;
        }

        &--fullscreen {
            right: 41px;
        }

        g {
            fill: $white;
        }

        &:hover g {
            fill: #c1c1c1;
        }
    }

}



@media (#{$desktop-width}) {

    .video__inner {
        padding-bottom: 87px;
    }

    .video__source {
        width: 800px;
        margin-top: 25px;
    }

    .video__media {
        background-image: url("#{$i}video-desktop@1x.jpg");

        @media #{$retina} {
            background-image: url("#{$i}video-desktop@2x.jpg");
        }
    }

    .video__controls-volume {
        width: 540px;
    }

}





